h1 {
    color: rgb(239, 236, 241);
    border-radius: 15px;
    background-color: red;
    text-align: center;
    font-family: fuente-titulo;
    font-size: 60px;
    padding: 30px;
    margin: 10px;
    top: 0;
    width: 100%;
  }

h2{
  color: #f59608;
  text-align: center;
}

.display-grid{
    color: black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.grid-descripcion {
    width: 450px;
    color: black;
    border-radius: 15px;
    border: 20px;
  }

  
.grid-conteiner {
    display: grid;
    overflow: hidden;
    border-radius: 25px;
  }

.flex-container{
    display: flex;
    justify-content: center;
    border: 10px;
    color: white;
    width: auto;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(10, 10, 10);
    font-family: sans-serif;
}

.header-contacto{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
}

.row{
    color: rgb(2, 1, 1);
    background-color:red;
    border-radius: 10px;
}

