h1 {
    color: rgb(239, 236, 241);
    border-radius: 25px;
    background-color: red;
    text-align: center;
    font-family: fuente-titulo;
    font-size: 60px;
    padding: 30px;
    margin: 10px;
    top: 0;
    width: 100%;
  }

h2{
  color: #d12424;
  text-align: center;
}

.grid-descripcion {
    width: 450px;
    color: black;
    border-radius: 15px;
    border: 20px;
  }
  
.grid img {
    width: 100px;
    border: 10px;
    border-color: rgb(196, 18, 18);
  }
  
.grid-conteiner {
    display: grid;
    overflow: hidden;
    border-radius: 25px;
  }

.flex-container{
    border: 10px;
    color: white;
    width: auto;
    padding: 5px 10px;
    margin: 15px;
    border-radius: 15px;
    background-color: rgb(160, 0, 0);
    font-family: sans-serif;
}

.header-contacto{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(190, 164, 115);
  border-radius: 20px;

}